---
http_interactions:
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?limit=1&location=39.7526184-105.0249216&minPopulation=300000&radius=100&types=CITY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<CITIES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rapidapi-Region:
      - AWS - us-west-2
      X-Rapidapi-Version:
      - 1.2.7
      X-Ratelimit-Requests-Limit:
      - '1000'
      X-Ratelimit-Requests-Remaining:
      - '985'
      X-Ratelimit-Requests-Reset:
      - '84471'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":126880,"wikiDataId":"Q16554","type":"CITY","city":"Denver","name":"Denver","country":"United
        States of America","countryCode":"US","region":"Colorado","regionCode":"CO","latitude":39.739166666,"longitude":-104.984722222,"distance":2.33}],"links":[{"rel":"first","href":"/v1/geo/cities?offset=0&limit=1&radius=100&minPopulation=300000&types=CITY&location=39.7526184-105.0249216"},{"rel":"next","href":"/v1/geo/cities?offset=1&limit=1&radius=100&minPopulation=300000&types=CITY&location=39.7526184-105.0249216"},{"rel":"last","href":"/v1/geo/cities?offset=2&limit=1&radius=100&minPopulation=300000&types=CITY&location=39.7526184-105.0249216"}],"metadata":{"currentOffset":0,"totalCount":3}}'
  recorded_at: Wed, 03 Mar 2021 04:13:26 GMT
recorded_with: VCR 6.0.0
