---
http_interactions:
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?limit=1&location=29.9754713-90.0851898&minPopulation=300000&radius=100&types=CITY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<CITIES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rapidapi-Region:
      - AWS - us-west-2
      X-Rapidapi-Version:
      - 1.2.7
      X-Ratelimit-Requests-Limit:
      - '1000'
      X-Ratelimit-Requests-Remaining:
      - '984'
      X-Ratelimit-Requests-Reset:
      - '84469'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":115521,"wikiDataId":"Q34404","type":"CITY","city":"New
        Orleans","name":"New Orleans","country":"United States of America","countryCode":"US","region":"Louisiana","regionCode":"LA","latitude":29.95465,"longitude":-90.07507,"distance":1.56}],"metadata":{"currentOffset":0,"totalCount":1}}'
  recorded_at: Wed, 03 Mar 2021 04:13:28 GMT
recorded_with: VCR 6.0.0
