---
http_interactions:
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?limit=1&location=43.6065-72.9794&minPopulation=300000&radius=100&types=CITY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<CITIES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Rapidapi-Region:
      - AWS - us-west-2
      X-Rapidapi-Version:
      - 1.2.7
      X-Ratelimit-Requests-Limit:
      - '1000'
      X-Ratelimit-Requests-Remaining:
      - '975'
      X-Ratelimit-Requests-Reset:
      - '9003'
    body:
      encoding: UTF-8
      string: '{"data":[],"metadata":{"currentOffset":0,"totalCount":0}}'
  recorded_at: Thu, 04 Mar 2021 01:11:14 GMT
recorded_with: VCR 6.0.0
